<footer id="footer" class="footer">
    <div class="footer-container">
        <div class="row">
            <div class="footer-row-link">
                <a href="/" class="_footer_logo">
                    <img src="images/logo.png" alt="logo">
                </a>
                <div class="footer-links">
                    <a href="/terms" class="terms-link">Terms &amp; Conditions</a>
                    |
                    <a href="/privacy" class="privacy-link">Privacy Policy</a>
                </div>
            </div>
            <div class="footer-row-info">
                <div class="navigate">
                    <div class="address-info">
                        <p class="location">Dubai. New Delhi<br>Since 2020</p>
                        <p class="contact">Contact information</p>
                        <p class="email">Info@wings.com</p>
                        <p class="phone">1100054820</p>
                    </div>
                    <div class="footer-navbar">
                        <ul class="footer-menu">
                            <li><a class="footer-link" href="/about">About</a></li>
                            <li><a class="footer-link" href="/projects">Projects</a></li>
                            <li><a class="footer-link" href="/thoughts">Thoughts</a></li>
                            <li><a class="footer-link" href="#">Follow us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="services">
                    <p class="service">STAFF AUGMENTATION</p>
                    <p class="service">VIDEO EDITING</p>
                    <p class="service">App and WEB DEVELOPMENT</p>
                    <p class="service">BRANDING AND UX/UI DESIGN</p>
                    <p class="service">FILM MAKING</p>
                </div>
            </div>
        </div>
        <div class="section-divider"></div>
        <div class="footer-bottom">
            <div class="copyright">
                <p>© 2023 Wings Company Inc. All rights reserved.</p>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/wingsandfly" target="_blank" rel="noopener noreferrer">
                    <i class="ri-facebook-fill"></i> Facebook
                </a>
                <a href="https://www.instagram.com/wingsandfly/" target="_blank" rel="noopener noreferrer">
                    <i class="ri-instagram-fill"></i> Instagram
                </a>
                <a href="https://www.linkedin.com/company/wingsandfly/" target="_blank" rel="noopener noreferrer">
                    <i class="ri-linkedin-fill"></i> LinkedIn
                </a>
                <a href="https://twitter.com/wingsandfly" target="_blank" rel="noopener noreferrer">
                    <i class="ri-twitter-fill"></i> Twitter
                </a>
                <a href="https://www.youtube.com/channel/YOUR_CHANNEL_ID" target="_blank" rel="noopener noreferrer">
                    <i class="ri-youtube-fill"></i> YouTube
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="js/scripts.js"></script>
</body>
</html>