<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wings - Your Title Here</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/remixicon.css">
    <link rel="stylesheet" href="css/boxicons.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <!-- Logo -->
        <a href="/" id="logo">
            <img src="images/logo.png" alt="logo">
        </a>

        <!-- Navigation Menu -->
        <nav class="navbar">
            <ul class="nav_menu">
                <li><a class="nav_link" href="/services">Services</a></li>
                <li><a class="nav_link" href="/thoughts">Thoughts</a></li>
                <li><a class="nav_link" href="/projects">Projects</a></li>
                <li><a class="nav_link" href="/about">About</a></li>
            </ul>
        </nav>

        <!-- Menu Icon -->
        <div class="menu-icon bx bx-menu" id="menu-bar"></div>
    </header>