<%- include('partials/header') %>
    <section class="banner">
        <div class="banner-title">
            Services
        </div>
        <!-- Background image -->
        <div class="background">
            <img class="background-image" src="images/background_transparent.png" />
        </div>

    </section>
    <%- include('partials/footer') %>